.icons i:hover{
    color: white;
    cursor: pointer;
    
}

.footerlinks p:hover{
    color: white;
    cursor: pointer;

}

*{
    overflow-x: hidden;
    overflow-y: hidden;
}

.collapse ul li{
    font-weight: bolder;
}