
 <div style="height: 40px; background-color: rgb(241, 241, 241);">
    <div>
      <img class="ms-5 pt-1" src="https://cdn.freebiesupply.com/images/large/2x/air-jordan-logo-png-transparent.png" width="20px" alt="asas">
      <div style="margin-top: -18px;" class="d-flex justify-content-end me-5 gap-2">
        <p>Find a store</p>|
        <p>Help</p>|
        <p>Join us</p>|
        <p>Sign in</p>
      </div>
    </div>
 </div>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img class="ms-5" width="50px" src="https://i.pinimg.com/originals/20/60/2d/20602d43cc993811e5a6bd1886af4f33.png" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div style="padding-left: 200px;" class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">New & Featured</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Men</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Women</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kids</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Customise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SNKRS</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
        <input style="width: 200px; border-radius: 20px;" placeholder="Search" type="text" class="form-control me-5">
      </div>
      <div>
        <i class="fa-regular fa-heart me-4"></i>
        <i class="fa-solid fa-bag-shopping me-5"></i>
      </div>
    </div>
  </nav>

  <div class="text-center" style="height: 70px; background-color: rgb(241, 241, 241); font-weight: bolder;">
    <p style="font-size: 15px;">Move, Shop, Customise & Celebrate With Us.</p>
      <p style="font-size: 12px; margin-top: -10px;">No matter what you feel like doing today, It’s better as a Member. <br> Join Us</p>
    
  </div>

  <div class="ms-5 me-5" style="height: 100vh;">
    <div class="row">
      <div class="col-6">
        <img src="https://media1.giphy.com/media/liaafClqtNxFOaI9DQ/giphy.gif?cid=6c09b952kx8lur3lsr3934teq8pch9o1gm2ejnqgufyaqfmo&ep=v1_stickers_related&rid=giphy.gif&ct=s" height="100%" width="100%" alt="">
      </div>
      <div class="col-6">
        <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a17ee7ae8da946aea8acfef53cf777d8_9366/Switch_FWD_Running_Shoes_White_FZ5621_HM1.jpg" height="100%" width="100%" alt="">
      </div>
    </div>
  </div>

  <div class="text-center mt-5" style="height: 300px;">
    <p>Nike invincible 3</p>
    <h1 style="font-size: 80px; font-weight: 800;">FEEL IT TO BELIEVE IT</h1>
    <p>Take a cushion for a run with new colours in the invincible 3</p>
    <button style="border-radius: 3rem; width: 80px;" class="btn btn-dark">Shop</button>
  </div>

  <div class="container">
    <h2>New Year, New arrivals</h2>
    <div class="row">

      <div class="col-4">
        <div class="cards" style="width: 100%;">
        <img src="https://contents.mediadecathlon.com/p2153253/ce01a41e66153a9e1837bd6b024c9066/p2153253.jpg?format=auto&quality=70&f=650x0" class="card-img-top" alt="...">
        <div class="card-body pt-3">
          <h5 class="card-title">Nike Airforce 1</h5>
          <p class="card-text">Men's shoes</p>
          <p>MRP 10,000</p>
        </div>
      </div>
      </div>

      <div class="col-4">
        <div class="cards" style="width: 100%;">
        <img src="https://contents.mediadecathlon.com/p2153253/ce01a41e66153a9e1837bd6b024c9066/p2153253.jpg?format=auto&quality=70&f=650x0" class="card-img-top" alt="...">
        <div class="card-body pt-3">
          <h5 class="card-title">Nike Airforce 1</h5>
          <p class="card-text">Men's shoes</p>
          <p>MRP 10,000</p>
        </div>
      </div>
      </div>

      <div class="col-4">
        <div class="cards" style="width: 100%;">
        <img src="https://contents.mediadecathlon.com/p2153253/ce01a41e66153a9e1837bd6b024c9066/p2153253.jpg?format=auto&quality=70&f=650x0" class="card-img-top" alt="...">
        <div class="card-body pt-3">
          <h5 class="card-title">Nike Airforce 1</h5>
          <p class="card-text">Men's shoes</p>
          <p>MRP 10,000</p>
        </div>
      </div>
      </div>

    </div>
  </div>

  <div style="height: 100vh;" class="container mt-5">
    <h2 class="mb-3">Trending</h2>
    <div class="row">
      <div class="col-6">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/f655b4fb-35e9-4a63-acf8-c02dfd78cfda/zoom-fly-5-road-running-shoes-lkx7Zp.png" width="100%" height="650px" alt="">
      </div>
      <div class="col-6">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/f655b4fb-35e9-4a63-acf8-c02dfd78cfda/zoom-fly-5-road-running-shoes-lkx7Zp.png" width="100%" height="650px" alt="">
      </div>
    </div>
  </div>

  <div style="height: 100vh;" class="container-fluid pt-5 mt-5">
    <h2 class="mb-3">Don't miss</h2>
    <img width="100%" height="100%" src="https://media.self.com/photos/5be64f1215ff484dd9b66ee0/master/pass/04_Sneakers_main.gif" alt="">
  </div>
    
 
  <div class="text-center mt-5 pt-5" style="height: 500px;">
    <p>Nike invincible 3</p>
    <h1 style="font-size: 80px; font-weight: 800;">FEEL IT TO BELIEVE IT</h1>
    <p>Take a cushion for a run with new colours in the invincible 3</p>
    <button style="border-radius: 3rem; width: 80px;" class="btn btn-dark">Shop</button>
  </div>

  <div style="height: 400px;" class="container">
    <h2 class="mb-3">Always iconic</h2>

    <div class="d-flex gap-3">
      <div class="cards" style="height: 17rem; width: 17rem;">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/87600cfa-b9c3-4901-bec2-7faa0ddffec2/air-max-270-shoes-rtZHHP.png" class="card-img-top" alt="...">
      </div>
      <div class="cards" style="height: 17rem; width: 17rem;">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/87600cfa-b9c3-4901-bec2-7faa0ddffec2/air-max-270-shoes-rtZHHP.png" class="card-img-top" alt="...">
      </div>
      <div class="cards" style="height: 17rem; width: 17rem;">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/87600cfa-b9c3-4901-bec2-7faa0ddffec2/air-max-270-shoes-rtZHHP.png" class="card-img-top" alt="...">
      </div>
      <div class="cards" style="height: 17rem; width: 17rem;">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/87600cfa-b9c3-4901-bec2-7faa0ddffec2/air-max-270-shoes-rtZHHP.png" class="card-img-top" alt="...">
      </div>
      <div class="cards" style="height: 17rem; width: 17rem;">
        <img src="https://static.nike.com/a/images/t_PDP_1280_v1/f_auto,q_auto:eco/87600cfa-b9c3-4901-bec2-7faa0ddffec2/air-max-270-shoes-rtZHHP.png" class="card-img-top" alt="...">
      </div>
  
    </div>
  </div>

  <div style="height: 350px; background-color: black;">
    <div class="row">

      <div style="width: 300px; height: 290px;" class="text-light ps-5 pt-5">
      <h6>FIND A STORE</h6>
      <h6>BECOME A MEMBER</h6>
      <h6>Send Us Feedback</h6>
      </div> 

      <div style="width: 300px; height: 290px;" class="pt-5">
      <h6 class="text-light">GET HELP</h6>
       <div style="line-height: 0.7;">
          <p><a style="text-decoration: none; color: white;" href="">Order status</a></p>
          <p><a style="text-decoration: none; color: white;" href="">Delivery</a></p>
          <p><a style="text-decoration: none; color: white;" href="">Contact</a></p>
          <p><a style="text-decoration: none; color: white;" href="">Returns</a></p>
          <p><a style="text-decoration: none; color: white;" href="">Payment options</a></p>
          <p><a style="text-decoration: none; color: white;" href="">Order status</a></p>
       </div>    
      </div>

      <div style="width: 300px; height: 290px;" class="pt-5">
        <h6 class="text-light">ABOUT NIKE</h6>
         <div style="line-height: 0.7;">
            <p><a style="text-decoration: none; color: white;" href="">News</a></p>
            <p><a style="text-decoration: none; color: white;" href="">Careers</a></p>
            <p><a style="text-decoration: none; color: white;" href="">Investors</a></p>
            <p><a style="text-decoration: none; color: white;" href="">Sustainability</a></p>
         </div>    
        </div>

        <div class="icons pt-5 text-end" style="width: 600px;">
          <i style="font-size: 35px; transition: 0.5s;" class="fa-brands fa-twitter me-3"></i>
          <i style="font-size: 35px; transition: 0.5s;" class="fa-brands fa-facebook me-3"></i>
          <i style="font-size: 35px; transition: 0.5s;" class="fa-brands fa-youtube me-3"></i>
          <i style="font-size: 35px; transition: 0.5s;" class="fa-brands fa-instagram me-3"></i>
        </div>

    </div>

    <div class="container d-flex justify-content-between pt-4">

      <div class=" container text-light d-flex ">
        <p class="me-3">India</p>
        <p>© 2023 Nike, Inc. All Rights Reserved</p>
      </div>
      <div  style="width: 800px; color: grey;" class="footerlinks  d-flex justify-content-evenly">
        <p>Guides</p>
        <p>Terms of sales</p>
        <p>Terms of use</p>
        <p>Nike privacy Policy</p>
      </div>

    </div>

  </div>

  
